* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 20px;
    background-color: #fcf3f3;
}

form {
    max-width: 500px;
    margin: 50px auto;
    background: #bbb7f7;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    margin-bottom: 20px;
}

.Header h1 {
    margin-bottom: 10px;
}

.Header p {
    margin-top: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
